{% load static %}
<html>
	<head>
  		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  		<link href="{% static 'app.css' %}" rel="stylesheet">
  		<title>Wavepool | Industry Dive</title>
  		<link rel="shortcut icon" type="/image/png" href="{% static 'favicon.ico' %}"/>
  </head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
			  <a class="navbar-brand" href="{% url 'home' %}">
			  	<span class="site-name" id="logo"><img src="{% static 'image/dive-logo.png' %}" height="30px" width="30px" /></span>
			  	<span class="site-name" id="first">Wave</span>
			  	<span class="site-name" id="second">pool</span>
			  </a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'home' %}">Front page</a>
					</li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'instructions' %}">Instructions</a>
			      </li>
			    </ul>
			  </div>
			</nav>
		</div>
		<div id="page_content" class="container">
			{% block page_content %}{% endblock %}
		</div>
	</body>
</html>